*{
    margin: 0;
}

div.alert-error{
	background-color:#ff6700;
	color:#fff;
	text-align:center;
	margin: 30px auto 0;
	height:25px;
	line-height:25px;
	letter-spacing:1px;
	font-size:14px;
}

#basic-modal-content2{
    /* border: 0.5px solid green; */
    height:600px; 
    width:420px; 
    border-radius: 20px;
    color:rgb(26, 26, 26); 
    background-color:rgb(255, 255, 255); 
    padding:60px 12px 0;
    margin: 0px auto 20px;
    position: relative;
}

#basic-modal-content2 h2{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin: 50px 0px 20px;
    letter-spacing:2px;
    color:#4a4a4a;
}

#basic-modal-content2 p{
    text-align: center;
    margin-bottom: 20px;
    letter-spacing:2px;
    color:#4a4a4a;
}

#basic-modal-content2 h6{
	text-align: center;
    margin-bottom: 20px;
    letter-spacing:2px;
    color:#868686;
    font-size:14px;
    font-weight:normal;
}

input.reSendMail{
    outline: none;
    border:0;
    color:#53A385;
    background-color:#FFF;
    cursor:pointer;
    letter-spacing:2px;
    font-size:14px;
}

input.home{
    width: 100%;
    height: 40px;
    margin: 20px 0px 40px;
    cursor: pointer;
    background-color: #53A385;
    color: white;
    letter-spacing: 20px;
    padding-left: 20px;
    border-radius: 999em;
    outline: none;
    border: 0;
    font-size: 16px;
}
