*{
    margin: 0;
}

div.header{
    height: 66px;
    width: 100%;
    /* border: 1px solid red; */
    position: fixed;
    z-index: 10;
    background-color: #fff;
    border-bottom:0.5px solid rgb(216, 216, 216);
}

#logo{
	width:150px;
	height:70%;
	position:absolute;
	left:20px;
	top:10px;
}

div.logo{
    float: left;
    line-height: 66px;
    font-size: 14px;
    color: #979797;
    padding-left: 190px;
    letter-spacing: 2px;
}

div.navbar{
    float:right;
    line-height: 66px;
    font-size: 16px;
    color: #4a4a4a;
    text-align: right;
    /* border: 1px solid red; */
}

div.navbar a{
    text-decoration: none;
    color: #4a4a4a;
    padding-right:45px;
    letter-spacing: 3px;
}

.fa-user-circle{
	font-size:30px;
	position:absolute;
	top:25%;
	right:20px;
	color:rgb(39, 204, 163);
}

#toggle-menu{
	/* border:1px solid red; */
	background-color: white;
 	position: absolute;
 	right:10px;
 	bottom:-265px;
 	width:140px;
 	height:240px;
 	padding:10px;
 	border-radius:10px;
 	box-shadow: 0px 0px 3px gray;
}

#toggle-menu a{
	display: block;
	font-size:16px;
	text-align:center;
	color:#4a4a4a;
	letter-spacing:5px;
	text-decoration:none;
	border-bottom: 0.5px solid rgb(207, 207, 207);
	line-height:55px;
}

.sign-up{
	border:0;
	background-color:transparent;
	font-size:16px;
	text-align:center;
	color:transparent;
	letter-spacing:5px;
	cursor:pointer;
	display:inline;
	margin-left:31%;
	position:absolute;
	z-index:9999;
	right:112px;
	top:21px;
}

.fa-globe{
	color:#53A385;
	font-size:18px;
}

div.i18nSelect{
	min-width:100px;
	min-height:160px;
	position:absolute;
	background-color: white;
	right:10px;
	top:70px;
	z-index:9999;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius:10px;
	padding:10px;
	display:none;
}

div.i18nSelect a{
	color: #4a4a4a;
 	text-decoration: none;
  	display: block;
  	text-align:center;
  	padding:15px 0;
}

