*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: rgb(255, 255, 255);
}

div.content-wrapper{
	padding: 100px 180px;
}

div.title p{
    font-size: 30px;
    letter-spacing: 1px;
    color: #4a4a4a;
    padding: 20px 10px;
}

div.nav-bar{
    border-bottom: 0.5px solid rgb(190, 190, 190);
}

div.nav-bar ul{
    padding: 0;
}

div.nav-bar li{
    display: inline-block;
    font-size: 18px;
    letter-spacing:2px;
    color:#4a4a4a;
    text-align: center;
    padding: 20px 40px;
}

div.nav-bar a, div.nav-bar a:visited{
    color: #4a4a4a;
    text-decoration: none;
}

div.ordersButton{
    /* border: 1px solid red; */
    height: 80px;
    position: relative;
    font-size: 14px;
}

div.ordersButton a,div.ordersButton a:visited{
    color: #2b211e;
    text-decoration: none;
}

div.ordersDetailButton{
    position: absolute;
    left: 0;
    bottom: 20px;
    color: #2b211e;
}

.fa-arrow-left{
    margin-right: 5px;
}

div.priceCounting{
    height: 65px;
    width: 100%;
    /* border: 1px solid red; */
    padding: 0 50px;
}

div.priceBox{
    height: 100%;
    width: 250px;
    background-color: #edefed;
    border: 1px solid #dce0e0;
    display: inline-block;
    padding: 10px;
    text-align: right;
    color: gray;
}

div.priceBoxTotal{
    height: 100%;
    width: 250px;
    background-color: #F08646;
    border: 1px solid #F08646;
    display: inline-block;
    padding: 10px;
    text-align: right;
    color: white;
}

.fa-minus,.fa-equals{
    font-size: 40px;
    line-height: 65px;
    margin: 0 30px;
}

div.searchCondition{
    height: 90px;
    /* border: 1px solid red; */
    padding: 30px 0;
    text-align: center;
}

div.searchCondition select{
    width: 100px;
    height: 33px;
    padding-left: 10px;
}

input.searchConditionDate,input.searchConditionName{
    width: 150px;
    height: 33px;
    padding-left: 10px;
    margin:0 10px;
}

.searchConditionSubmit{
    width: 80px;
    height: 33px;
    background-color: black;
    color: white;
    border-radius: 999em;
    outline: none;
    border: 0;
    cursor: pointer;
}

table.ordersList{
    /* border: 1px solid red; */
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid gray;
    /* border-bottom: 1px solid gray; */
    margin-top: 20px;
}

table.ordersList th{
    border-bottom: 1px solid rgb(216, 216, 216);
    padding: 10px 0;
    color: #2b211e;
    font-weight: normal;
    font-size: 14px;
}

table.ordersList button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: #2b211e;
    /* border: 1px solid red; */
}

table.ordersList button:hover{
    color: gray;
}

.fa-sort{
    margin-left: 5px;
}

table.ordersList td{
    padding: 10px 0;
    text-align: center;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    color: #2b211e;
    font-size: 14px;
    /* border: 1px solid red; */
}


/* i按鈕訂單明細彈出視窗css */
.bg-modal {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 1200px;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height:1000px;
	width: 900px;
	background-color: white;
	text-align: left;
	padding: 20px 40px;
	position: relative;
	border-radius: 10px;
}

.close{
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

.close:hover{
	color: #666;
}

div.ordersTitle{
	border-bottom:4px solid #53A385;
	padding:15px 0;
	font-size:20px;
	color:#4e4e4e;
	letter-spacing:2px;
	margin:20px 0 10px;
	
}

div.ordersSubTitle{
	padding-top:15px;
	font-size:16px;
	color:gray;
	letter-spacing:2px;
	
}

div.ordersInformationLeft{
	float:left;
	width:50%;
	margin-bottom:40px;
}

div.ordersInformationRight{
	float:right;
	width:50%;
	margin-bottom:40px;
}

div.spaceInfo{
	width:100%;
	height:300px;
}

div.spaceInfo table{
	width:100%;
	height:240px;
	color:gray;
	border:1px solid #e0e0e0;
	padding:20px;
}

div.spaceInfo th{
	font-weight:normal;
	color:#4e4e4e;
	letter-spacing:2px;
}

div.spaceInfo td{
	padding:10px 0;
}

div.spaceImg{
	height:160px;
	width:160px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#closeButtonArea{
	width:200px;
	height:40px;
	color:white;
	border-radius:10px;
	padding:5px;
	cursor:pointer;
	border:0;
	background-color:#53A385;
	letter-spacing:5px;
	font-size:16px;
	margin-top:60px;
	position:absolute;
	bottom:50px;
	right:350px;
}

