*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: rgb(255, 255, 255);
}

div.content-wrapper{
	padding: 100px 180px;
}

div.title p{
    font-size: 30px;
    letter-spacing: 1px;
    color: #4a4a4a;
    padding: 20px 10px;
}

div.nav-bar{
    border-bottom: 0.5px solid rgb(190, 190, 190);
}

div.nav-bar ul{
    padding: 0;
}

div.nav-bar li{
    display: inline-block;
    font-size: 18px;
    letter-spacing:2px;
    color:#4a4a4a;
    text-align: center;
    padding: 20px 40px;
}

div.nav-bar a, div.nav-bar a:visited{
    color: #4a4a4a;
    text-decoration: none;
}

div.createSpaceArea{
    /* border: 1px solid red; */
    padding: 20px 0px;
    position: relative;
}

.fa-plus-circle{
    color: #53A385;
    font-size: 30px;
    position: absolute;
    left: 18px;
    top:25px;
    z-index: -99;
}

a.insertSpace{
    color: #53A385;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration:none;
    position: absolute;
    left: 58px;
    top:27px;
}


/* ************** 建立的空間列表 ***************/
div.unverifySpace{
	width:500px;
	height:350px;
	margin:60px 18px 0px;
	display:inline-block;
	box-shadow:0px 0px 2px gray;
	border-radius:10px;
}

div.spaceImage{
	/* border:1px solid red; */
	height:250px;
	border-radius:10px 10px 0 0;
	border-bottom:1px solid rgb(212, 212, 212);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
}

div.spaceUI{
	/* border:1px solid black; */
	height:100px;
	border-radius:0 0 10px 10px;
}

div.spaceInfo{
	/* border:1px solid black; */
	width:50%;
	float:left;
	height:100%;
	padding:20px 20px;
}

div.spaceInfo h3{
	color:#4a4a4a;
	letter-spacing:2px;
}

div.spaceInfo p{
	color:gray;
	letter-spacing:2px;
}

div.spaceButton{
/* 	border:1px solid red; */
	width:50%;
	float:right;
	height:100%;
	padding:28px 0;
}

div.spaceButton input{
	cursor:pointer;
	background-color:transparent;
	color:#4A4A4A;
/* 	color:gray; */
	width:50px;
	height:40px;
	margin:0 12px;
	border:0;
	letter-spacing:2px;
	font-size:16px;
}